<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Wasserwerke Login</title>
  </head>

  <body>
    <header>
      <p id="header">Hi <%= name %></p>
    </header>

    <div class="login">
      <input type="text" placeholder="Benutzername" id="username" />
      <input type="submit" value="Login" />
    </div>
    <div class="shadow"></div>

    <footer>
      <p id="copyright">Copyright DIW</p>
    </footer>
  </body>
</html>
<style>
  <%- myCss.style %>
</style>
